# node packages and modules
node_modules/

# Sensitive information
config/development.json
config/test.json

# Build artifacts
dist/
build/
target/

# IDE configuration files
.idea/
.vscode/
.emacs.d/

# OS-specific files
.DS_Store
Thumbs.db